@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 100;
    src: url('yekanbakh/YekanBakhFaNum-Thin.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 300;
    src: url('yekanbakh/YekanBakhFaNum-Light.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 500;
    src: url('yekanbakh/YekanBakhFaNum-Regular.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 800;
    src: url('yekanbakh/YekanBakhFaNum-Bold.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 900;
    src: url('yekanbakh/YekanBakhFaNum-Black.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 700;
    src: url('yekanbakh/YekanBakhFaNum-Bold.woff2') format("woff2");
}

@font-face
{
    font-display: swap;
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 400;
    src: url('yekanbakh/YekanBakhFaNum-Regular.woff2') format("woff2");
}

.font-yekanbakh,
.font-yekanbakh input::placeholder,
input.font-yekanbakh::placeholder
{
    font-family: yekanbakh, Tahoma, sans-serif;
}