@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities
{
    .no-scrollbar::-webkit-scrollbar
    {
        display: none;
    }

    .no-scrollbar
    {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

*
{
    --tw-ring-color: rgb(0 0 0 / 0) !important;
}